In [1]:
import random
import pandas as pd 
import numpy as np 

random.seed(42) #Semilla para reproducibilidad del experimento
d1 = pd.DataFrame({
    'red': [random.randint(1,20) for _ in range(4)],
    'orange': [random.randint(1,20) for _ in range(4)],
    'yellow': [random.randint(1,20) for _ in range(4)],
    'green': [random.randint(1,20) for _ in range(4)]
    }
)
d2 = pd.DataFrame({
    'red': [random.randint(1,20) for _ in range(4)],
    'orange': [random.randint(1,20) for _ in range(4)],
    'yellow': [random.randint(1,20) for _ in range(4)],
    'green': [random.randint(1,20) for _ in range(4)]
    }
)
print(d1)
print(d2)

   red  orange  yellow  green
0    4       8       3      1
1    1       5      19      3
2    9       4      14      7
3    8      18       2      8
   red  orange  yellow  green
0   17       7      15      6
1   20      18      19     14
2    1      14       9     11
3   18       8       1      9

Concatenar dos DataFrames con la función concat

In [33]:
print(pd.concat([d1, d2]))

   red  orange  yellow  green
0    4       8       3      1
1    1       5      19      3
2    9       4      14      7
3    8      18       2      8
0   17       7      15      6
1   20      18      19     14
2    1      14       9     11
3   18       8       1      9

In [40]:
d3 = pd.concat([d1, d2])
print(d3)

print(d3.index) #Índices del DataFrame
print(d3.columns)# Columnas del DataFrame
print(d3.shape) #Tamaño del DataFrame

print(d3.loc[3])

   red  orange  yellow  green
0    4       8       3      1
1    1       5      19      3
2    9       4      14      7
3    8      18       2      8
0   17       7      15      6
1   20      18      19     14
2    1      14       9     11
3   18       8       1      9
Index([0, 1, 2, 3, 0, 1, 2, 3], dtype='int64')
Index(['red', 'orange', 'yellow', 'green'], dtype='object')
(8, 4)
   red  orange  yellow  green
3    8      18       2      8
3   18       8       1      9

Concatenar 2 marcos de datos a lo largo del índice, ignorando los valores del índice de origen

In [43]:
d3 = pd.concat([d1, d2], ignore_index= True) 
print(d3)

d3.loc[:,'yellow']
d3['green']

   red  orange  yellow  green
0    4       8       3      1
1    1       5      19      3
2    9       4      14      7
3    8      18       2      8
4   17       7      15      6
5   20      18      19     14
6    1      14       9     11
7   18       8       1      9

0     1
1     3
2     7
3     8
4     6
5    14
6    11
7     9
Name: green, dtype: int64

Concatenar con nombres de columnas difentes

In [44]:
random.seed(1)
df1 = pd.DataFrame({
    'red': [random.randint(1,20) for _ in range(4)],
    'orange': [random.randint(1,20) for _ in range(4)]
    
    }
)

df2 = pd.DataFrame({
    'green': [random.randint(1,20) for _ in range(5)],
    'blue': [random.randint(1,20) for _ in range(5)],
    'indigo': [random.randint(1,20) for _ in range(5)],
    
    }
)

print(df1)
print(df2)

   red  orange
0    5       4
1   19      16
2    3      15
3    9      16
   green  blue  indigo
0     13    13       9
1      7    14       8
2      4    20      19
3     16     1       4
4      1    15      11

Concatenar los dos marcos de datos. Se unen a lo largo del índice y los datos falntantes se rellenan con NaN

In [48]:
df3 = pd.concat([df1, df2], ignore_index= True)

#print(df3)
df3

    red  orange  green  blue  indigo
0   5.0     4.0    NaN   NaN     NaN
1  19.0    16.0    NaN   NaN     NaN
2   3.0    15.0    NaN   NaN     NaN
3   9.0    16.0    NaN   NaN     NaN
4   NaN     NaN   13.0  13.0     9.0
5   NaN     NaN    7.0  14.0     8.0
6   NaN     NaN    4.0  20.0    19.0
7   NaN     NaN   16.0   1.0     4.0
8   NaN     NaN    1.0  15.0    11.0

El parámetro 'axis' especifica a lo largo de qué eje va a unir los marcos de datos. O para índice (por defecto) y 1 para columnas.

In [49]:
df3 = pd.concat([df1, df2], axis= 1)

#print(df3)
df3

    red  orange  green  blue  indigo
0   5.0     4.0     13    13       9
1  19.0    16.0      7    14       8
2   3.0    15.0      4    20      19
3   9.0    16.0     16     1       4
4   NaN     NaN      1    15      11

In [50]:
print(df1)
print(df2)

   red  orange
0    5       4
1   19      16
2    3      15
3    9      16
   green  blue  indigo
0     13    13       9
1      7    14       8
2      4    20      19
3     16     1       4
4      1    15      11

Al hacer coincidir columnas, sólo se conservan las filas con índices coincidentes. Observar que la fila del índice 4 se elimina para df2.

Concatenar dos marcos de datos con inner join, sólo mantiene los índices coincidentes

In [51]:
df3 = pd.concat([df1, df2], axis= 1, join='inner')
df3

   red  orange  green  blue  indigo
0    5       4     13    13       9
1   19      16      7    14       8
2    3      15      4    20      19
3    9      16     16     1       4

In [52]:
Sucursal_A = pd.DataFrame({
    'Producto' : ['Laptop', 'Tablet', 'Smartphone'],
    'Ventas' : [15, 30, 25]
})

Sucursal_B = pd.DataFrame({
    'Producto' : ['Laptop', 'Tablet', 'Smartphone'],
    'Ventas' : [22, 18, 10]
})

print(Sucursal_A)
print(Sucursal_B)

     Producto  Ventas
0      Laptop      15
1      Tablet      30
2  Smartphone      25
     Producto  Ventas
0      Laptop      22
1      Tablet      18
2  Smartphone      10

Concatenar con join outer

In [2]:
Sucursal_A = pd.DataFrame({
    'Producto' : ['Laptop', 'Tablet', 'Smartphone'],
    'Ventas' : [15, 30, 25]
})

Sucursal_B = pd.DataFrame({
    'Producto' : ['Tablet', 'Smartphone', 'Smartwatch'],
    'Ventas' : [22, 18, 10]
})

print(Sucursal_A)
print(Sucursal_B)

     Producto  Ventas
0      Laptop      15
1      Tablet      30
2  Smartphone      25
     Producto  Ventas
0      Tablet      22
1  Smartphone      18
2  Smartwatch      10

In [ ]:
ventas_totales = pd.concat([Sucursal_A.set_index('Producto'),
                            Sucursal_B.set_index('Producto')],
                            axis=1, join='outer')

print(ventas_totales)

ventas_totales = ventas_totales.fillna(0)
ventas_totales = ventas_totales.astype(int) #Convertir tipo de datos

print(ventas_totales)

            Ventas  Ventas
Producto
Laptop        15.0     NaN
Tablet        30.0    22.0
Smartphone    25.0    18.0
Smartwatch     NaN    10.0
            Ventas  Ventas
Producto
Laptop          15       0
Tablet          30      22
Smartphone      25      18
Smartwatch       0      10