In [1]:
import pandas as pd

# Crear DataFrame de empleados
df_employees = pd.DataFrame({'Employee_id': [1, 2, 3, 4],
                  'Name': ['Daniel', 'David', 'Carlos', 'Maria']})


# Crear DataFrame de proyectos
df_projects = pd.DataFrame({'Project_ID': [55, 88, 100],
                  'Employee_id': [1, 2, 3],
                  'Project': ['An√°lisis de Datos', 'Desarrollo Web', 'Desarrollo m√≥vil']})

print(df_employees)
print(df_projects)

   Employee_id    Name
0            1  Daniel
1            2   David
2            3  Carlos
3            4   Maria
   Project_ID  Employee_id            Project
0          55            1  An√°lisis de Datos
1          88            2     Desarrollo Web
2         100            3   Desarrollo m√≥vil

In [2]:
#Combinar DataFrames con merge
df_merged = pd.merge(df_employees, df_projects, on = 'Employee_id')
print(df_merged)

   Employee_id    Name  Project_ID            Project
0            1  Daniel          55  An√°lisis de Datos
1            2   David          88     Desarrollo Web
2            3  Carlos         100   Desarrollo m√≥vil

In [3]:
import pandas as pd

# DataFrames de ejemplo
clientes = pd.DataFrame({
    'customer_id': [1, 2, 3, 4],
    'nombre': ['Ana', 'Juan', 'Luisa', 'Pedro'],
    'pa√≠s': ['M√©xico', 'Espa√±a', 'Colombia', 'Argentina']
})

compras = pd.DataFrame({
    'customer_id': [1, 2, 5],
    'producto': ['Laptop', 'Tablet', 'Celular'],
    'monto': [1200, 500, 900]
})

print(clientes)
print(compras)

   customer_id nombre       pa√≠s
0            1    Ana     M√©xico
1            2   Juan     Espa√±a
2            3  Luisa   Colombia
3            4  Pedro  Argentina
   customer_id producto  monto
0            1   Laptop   1200
1            2   Tablet    500
2            5  Celular    900

In [ ]:
#Merge con Inner Join (solo clientes con compras)
df_inner = pd.merge(clientes, compras, on='customer_id', how='inner')
print("\nINNER JOIN")
print(df_inner)

#Merge con Left Join (Todos los clientes, aunque no hayan comprado)
df_left = pd.merge(clientes, compras, on='customer_id', how='left')
print("\nLEFT JOIN")
print(df_left)

#Merge con Right Join (Todas las compras, aunque el cliente no est√© registrado)
df_right = pd.merge(clientes, compras, on='customer_id', how='right')
print("\nRIGTH JOIN")
print(df_right)

#Merge con Outer Join (Une toda la informaci√≥n)
df_outer = pd.merge(clientes, compras, on='customer_id', how='outer')
print("\nOUTER JOIN")
print(df_outer)

INNER JOIN
   customer_id nombre    pa√≠s producto  monto
0            1    Ana  M√©xico   Laptop   1200
1            2   Juan  Espa√±a   Tablet    500

LEFT JOIN
   customer_id nombre       pa√≠s producto   monto
0            1    Ana     M√©xico   Laptop  1200.0
1            2   Juan     Espa√±a   Tablet   500.0
2            3  Luisa   Colombia      NaN     NaN
3            4  Pedro  Argentina      NaN     NaN

RIGTH JOIN
   customer_id nombre    pa√≠s producto  monto
0            1    Ana  M√©xico   Laptop   1200
1            2   Juan  Espa√±a   Tablet    500
2            5    NaN     NaN  Celular    900

OUTER JOIN
   customer_id nombre       pa√≠s producto   monto
0            1    Ana     M√©xico   Laptop  1200.0
1            2   Juan     Espa√±a   Tablet   500.0
2            3  Luisa   Colombia      NaN     NaN
3            4  Pedro  Argentina      NaN     NaN
4            5    NaN        NaN  Celular   900.0

Escenario: La empresa ahora tiene una tabla adicional con informaci√≥n sobre los pagos.

üìå Objetivo: Usar merge para consolidar la informaci√≥n de compras y pagos.

In [9]:
pagos = pd.DataFrame({
    'customer_id': [1, 2, 3],
    'monto_pagado': [1200, 500, 300]
})

print(compras)
print(pagos)

   customer_id producto  monto
0            1   Laptop   1200
1            2   Tablet    500
2            5  Celular    900
   customer_id  monto_pagado
0            1          1200
1            2           500
2            3           300

In [10]:
df_pagos = pd.merge(compras, pagos, on='customer_id', how='left')
print(df_pagos)

   customer_id producto  monto  monto_pagado
0            1   Laptop   1200        1200.0
1            2   Tablet    500         500.0
2            5  Celular    900           NaN

¬øPor qu√© el cliente con ID 5 tiene NaN en monto_pagado?
¬øQu√© tipo de merge usar√≠an para obtener solo los clientes que han comprado y pagado?

In [12]:
df_pagos = pd.merge(compras, pagos, on='customer_id', how='inner')
print("\nInformaci√≥n de Compras y Pagos")
print(df_pagos)

Informaci√≥n de Compras y Pagos
   customer_id producto  monto  monto_pagado
0            1   Laptop   1200          1200
1            2   Tablet    500           500

In [13]:
Jugadores_mundialistas = pd.read_csv('../world_cup_players.csv')
Maximos_goleadores = pd.read_csv('../world_top_scorers.csv')

print(Jugadores_mundialistas)
print(Maximos_goleadores)

                name    country    position
0     Miroslav Klose    Germany     forward
1    Ronaldo Nazario     Brazil     forward
2        Luka Modric    Croatia  midfielder
3     Erling Haaland     Norway     forward
4       Lionel Messi  Argentina     forward
5               Pel√©     Brazil     forward
6      Kylian Mbapp√©     France     forward
7  Cristiano Ronaldo   Portugal     forward
              name  world_cups  total_matches  champion  goals
0   Miroslav Klose           4             24         1     16
1  Ronaldo Nazario           4             19         2     15
2      Gerd Muller           2             13         1     14
3    Just Fontaine           1              6         0     13
4     Lionel Messi           5             26         1     13
5             Pel√©           4             14         3     12
6    Kylian Mbapp√©           2             14         1     12
7    S√°ndor Kocsis           1              5         0     11

## Combinar DataFrames en base a una columna en com√∫n

In [14]:
df_merged = pd.merge(Jugadores_mundialistas, Maximos_goleadores, on='name', how='inner')

print(df_merged)

              name    country position  world_cups  total_matches  champion  \
0   Miroslav Klose    Germany  forward           4             24         1
1  Ronaldo Nazario     Brazil  forward           4             19         2
2     Lionel Messi  Argentina  forward           5             26         1
3             Pel√©     Brazil  forward           4             14         3
4    Kylian Mbapp√©     France  forward           2             14         1

   goals
0     16
1     15
2     13
3     12
4     12

## Combinar DataFrames en base a dos columnas que no tienen el mismo nombre

In [15]:
Maximos_goleadores_2 = pd.read_csv('../world_top_scorers_2.csv')
print(Jugadores_mundialistas)
print(Maximos_goleadores_2)

                name    country    position
0     Miroslav Klose    Germany     forward
1    Ronaldo Nazario     Brazil     forward
2        Luka Modric    Croatia  midfielder
3     Erling Haaland     Norway     forward
4       Lionel Messi  Argentina     forward
5               Pel√©     Brazil     forward
6      Kylian Mbapp√©     France     forward
7  Cristiano Ronaldo   Portugal     forward
       player_name  world_cups  total_matches  champion  goals
0   Miroslav Klose           4             24         1     16
1  Ronaldo Nazario           4             19         2     15
2      Gerd Muller           2             13         1     14
3    Just Fontaine           1              6         0     13
4     Lionel Messi           5             26         1     13
5             Pel√©           4             14         3     12
6    Kylian Mbapp√©           2             14         1     12
7    S√°ndor Kocsis           1              5         0     11

In [16]:
df_merged = pd.merge(Jugadores_mundialistas, Maximos_goleadores_2, left_on='name', right_on='player_name', how='outer')

print(df_merged)

                 name    country    position      player_name  world_cups  \
0   Cristiano Ronaldo   Portugal     forward              NaN         NaN
1      Erling Haaland     Norway     forward              NaN         NaN
2                 NaN        NaN         NaN      Gerd Muller         2.0
3                 NaN        NaN         NaN    Just Fontaine         1.0
4       Kylian Mbapp√©     France     forward    Kylian Mbapp√©         2.0
5        Lionel Messi  Argentina     forward     Lionel Messi         5.0
6         Luka Modric    Croatia  midfielder              NaN         NaN
7      Miroslav Klose    Germany     forward   Miroslav Klose         4.0
8                Pel√©     Brazil     forward             Pel√©         4.0
9     Ronaldo Nazario     Brazil     forward  Ronaldo Nazario         4.0
10                NaN        NaN         NaN    S√°ndor Kocsis         1.0

    total_matches  champion  goals
0             NaN       NaN    NaN
1             NaN       NaN    NaN
2            13.0       1.0   14.0
3             6.0       0.0   13.0
4            14.0       1.0   12.0
5            26.0       1.0   13.0
6             NaN       NaN    NaN
7            24.0       1.0   16.0
8            14.0       3.0   12.0
9            19.0       2.0   15.0
10            5.0       0.0   11.0

El argumento how="outer" especifica un tipo de fusi√≥n "outer", lo que significa que se incluir√°n todos los registros de ambos DataFrames. Si no hay correspondencia entre las columnas especificadas, los valores de las columnas no coincidentes se llenar√°n con NaN (valores nulos).

En este ejemplo, haciendo uso del m√©todo merge(), combinamos los Dataframes df_world_cup_players y df_world_top_scorers en base a las columnas name y player_name respectivamente, a trav√©s de los par√°metros left_on y right_on. El resultado es un nuevo DataFrame con los registros que se encuentran en ambos DataFrames, debido a que utilizamos el par√°metro how="outer". Por lo que se mostrar√°n todos los jugadores mundialistas y m√°ximos goleadores en mundiales. En caso de que un jugador no se encuentre en ambos DataFrames, se mostrar√° un NaN en las columnas correspondientes.

## Combinar DataFrames en base a los √≠ndices

In [17]:
import pandas as pd
Estadisticas = pd.read_csv('../players_stats.csv')
print(Estadisticas)

   matches_played  goals_scored
0              24            16
1              19            15
2              26            13
3              14            12
4              16            18
5              21            17
6              19            10
7              11            11

In [20]:
Jugadores_mundialistas = pd.read_csv('../world_cup_players.csv')
#Establecer el nombr de los jugadores como √≠ndices en ambos DataFrames
Jugadores_mundialistas.set_index('name', inplace=True)
Estadisticas.set_index(Jugadores_mundialistas.index, inplace=True)
print(Jugadores_mundialistas)
print(Estadisticas)

                     country    position
name
Miroslav Klose       Germany     forward
Ronaldo Nazario       Brazil     forward
Luka Modric          Croatia  midfielder
Erling Haaland        Norway     forward
Lionel Messi       Argentina     forward
Pel√©                  Brazil     forward
Kylian Mbapp√©         France     forward
Cristiano Ronaldo   Portugal     forward
                   matches_played  goals_scored
name
Miroslav Klose                 24            16
Ronaldo Nazario                19            15
Luka Modric                    26            13
Erling Haaland                 14            12
Lionel Messi                   16            18
Pel√©                           21            17
Kylian Mbapp√©                  19            10
Cristiano Ronaldo              11            11

In [21]:
df_merged = pd.merge(Jugadores_mundialistas, Estadisticas, left_index=True, right_index=True)

print(df_merged)

                     country    position  matches_played  goals_scored
name
Miroslav Klose       Germany     forward              24            16
Ronaldo Nazario       Brazil     forward              19            15
Luka Modric          Croatia  midfielder              26            13
Erling Haaland        Norway     forward              14            12
Lionel Messi       Argentina     forward              16            18
Pel√©                  Brazil     forward              21            17
Kylian Mbapp√©         France     forward              19            10
Cristiano Ronaldo   Portugal     forward              11            11

Usar los par√°metros left_index=True y right_index=True permite combinar los DataFrames de forma efectiva utilizando los √≠ndices como claves de uni√≥n, lo que es especialmente √∫til cuando las filas representan de manera √∫nica y coherente elementos como en este caso (jugadores de f√∫tbol). Esto ayuda a evitar la necesidad de especificar expl√≠citamente columnas comunes ya que el √≠ndice ya realiza esa funci√≥n.

## Combinar DataFrames con nombres de columnas duplicados

In [22]:
Jugadores_mundialistas = pd.read_csv('../world_cup_players.csv')
Maximos_goleadores = pd.read_csv('../world_top_scorers_3.csv')
print(Jugadores_mundialistas)
print(Maximos_goleadores)

                name    country    position
0     Miroslav Klose    Germany     forward
1    Ronaldo Nazario     Brazil     forward
2        Luka Modric    Croatia  midfielder
3     Erling Haaland     Norway     forward
4       Lionel Messi  Argentina     forward
5               Pel√©     Brazil     forward
6      Kylian Mbapp√©     France     forward
7  Cristiano Ronaldo   Portugal     forward
              name  world_cups  total_matches  goals    country
0   Miroslav Klose           4             24     16    Germany
1  Ronaldo Nazario           4             19     15     Brazil
2      Gerd Muller           2             13     14    Germany
3    Just Fontaine           1              6     13     France
4     Lionel Messi           5             26     13  Argentina
5             Pel√©           4             14     12     Brazil
6    Kylian Mbapp√©           2             14     12     France
7    S√°ndor Kocsis           1              5     11    Hungary

In [24]:
df_merged = pd.merge(Jugadores_mundialistas, Maximos_goleadores, on='name', how='left', suffixes=('_left', '_right'))
print(df_merged)

                name country_left    position  world_cups  total_matches  \
0     Miroslav Klose      Germany     forward         4.0           24.0
1    Ronaldo Nazario       Brazil     forward         4.0           19.0
2        Luka Modric      Croatia  midfielder         NaN            NaN
3     Erling Haaland       Norway     forward         NaN            NaN
4       Lionel Messi    Argentina     forward         5.0           26.0
5               Pel√©       Brazil     forward         4.0           14.0
6      Kylian Mbapp√©       France     forward         2.0           14.0
7  Cristiano Ronaldo     Portugal     forward         NaN            NaN

   goals country_right
0   16.0       Germany
1   15.0        Brazil
2    NaN           NaN
3    NaN           NaN
4   13.0     Argentina
5   12.0        Brazil
6   12.0        France
7    NaN           NaN

En este ejemplo, haciendo uso del m√©todo merge(), combinamos los Dataframes df_world_cup_players y df_world_top_scorers en base a la columna name de ambos DataFrames. El resultado es un nuevo DataFrame donde se conservar√°n todos los registros del DataFrame izquierdo debido a que utilizamos el par√°metro how="left", y se agregan las columnas del DataFrame derecho. De no existir un registro en el DataFrame derecho, se mostrar√° un NaN. El par√°metro suffixesnos permite agregar un sufijo cuando existen columnas con el mismo nombre en ambos DataFrames y as√≠ poder identificar de que DataFrame provienen, por ello observamos que existen columnas con el sufijo\_lefty\_right.

"idxmax"

In [26]:
import pandas as pd

# Crear un DataFrame de ejemplo: filas = meses, columnas = productos
datos = {
    'Producto A': [120, 130, 150, 170, 160, 180],
    'Producto B': [200, 190, 210, 205, 215, 205],
    'Producto C': [80, 90, 85, 95, 100, 110]
}
meses = ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun']

df = pd.DataFrame(datos, index=meses)
print(df)

     Producto A  Producto B  Producto C
Ene         120         200          80
Feb         130         190          90
Mar         150         210          85
Abr         170         205          95
May         160         215         100
Jun         180         205         110

In [27]:
#Usamos idxmax a lo largo del eje 0 (filas) -> encontrar√≠a el √≠ndice del m√°ximo por columna

idx_max_mes_por_producto = df.idxmax(axis=0)

print("Mes de venta m√°xima por producto (usando idxmax):")
print(idx_max_mes_por_producto)

Mes de venta m√°xima por producto (usando idxmax):
Producto A    Jun
Producto B    May
Producto C    Jun
dtype: object