In [1]:
import pandas as pd

# Crear el primer DataFrame
df1 = pd.DataFrame({
    'key': ['A', 'B', 'C', 'D'],
    'value1': [1, 2, 3, 4],
    'value3': [9, 10, 11, 12],
    'value5': [13, 14, 15, 16]
})
df1.set_index('key', inplace=True)  # Establecer la columna 'key' como índice
df1

     value1  value3  value5
key
A         1       9      13
B         2      10      14
C         3      11      15
D         4      12      16

In [2]:
# Crear el segundo DataFrame
df2 = pd.DataFrame({
    'key': ['A', 'B', 'E', 'F'],
    'value2': [5, 6, 7, 8],
    'value4': [17, 18, 19, 20],
    'value6': [21, 22, 23, 24]
})
df2.set_index('key', inplace=True)  # Establecer la columna 'key' como índice
df2

     value2  value4  value6
key
A         5      17      21
B         6      18      22
E         7      19      23
F         8      20      24

In [4]:
#Realizar la unión utilizando join
joined_df = df1.join(df2, how='outer') 
joined_df

     value1  value3  value5  value2  value4  value6
key
A       1.0     9.0    13.0     5.0    17.0    21.0
B       2.0    10.0    14.0     6.0    18.0    22.0
C       3.0    11.0    15.0     NaN     NaN     NaN
D       4.0    12.0    16.0     NaN     NaN     NaN
E       NaN     NaN     NaN     7.0    19.0    23.0
F       NaN     NaN     NaN     8.0    20.0    24.0

In [5]:
joined_df = df1.join(df2, how='inner') 
joined_df

     value1  value3  value5  value2  value4  value6
key
A         1       9      13       5      17      21
B         2      10      14       6      18      22

In [6]:
# Crear el segundo DataFrame
df2 = pd.DataFrame({
    'key': ['A', 'B', 'E', 'F'],
    'value1': [5, 6, 7, 8],
    'value4': [17, 18, 19, 20],
    'value6': [21, 22, 23, 24]
})
df2.set_index('key', inplace=True)  # Establecer la columna 'key' como índice
print(df1)
print(df2)

     value1  value3  value5
key
A         1       9      13
B         2      10      14
C         3      11      15
D         4      12      16
     value1  value4  value6
key
A         5      17      21
B         6      18      22
E         7      19      23
F         8      20      24

In [7]:
joined_df = df1.join(df2, how='inner') 
joined_df

ValueError: columns overlap but no suffix specified: Index(['value1'], dtype='object')

Ambos DataFrames contienen una columna llamada value1.

Cuando haces join, Pandas no sabe cómo renombrar automáticamente esas columnas duplicadas.

In [8]:
joined_df = df1.join(df2, lsuffix='_df1', rsuffix='_df2') 
joined_df

     value1_df1  value3  value5  value1_df2  value4  value6
key
A             1       9      13         5.0    17.0    21.0
B             2      10      14         6.0    18.0    22.0
C             3      11      15         NaN     NaN     NaN
D             4      12      16         NaN     NaN     NaN

In [9]:
joined_df = df1.join(df2, on='value1')

ValueError: You are trying to merge on int64 and object columns for key 'value1'. If you wish to proceed you should use pd.concat

El método .join() está diseñado principalmente para unir por índices.

El parámetro on= se puede usar solo si el DataFrame a la izquierda (df1) tiene esa columna (en este caso value1) y el DataFrame de la derecha (df2) usa como índice la columna equivalente.

*Pero aquí hay dos problemas:

df2 tiene como índice key, no value1.

on='value1' intenta alinear usando una columna que no corresponde al índice del otro DataFrame.

In [10]:
df2_reset = df2.reset_index().set_index('value1')
joined_df = df1.join(df2_reset, on='value1', lsuffix='_df1', rsuffix='_df2')
print(joined_df)

     value1  value3  value5  key  value4  value6
key
A         1       9      13  NaN     NaN     NaN
B         2      10      14  NaN     NaN     NaN
C         3      11      15  NaN     NaN     NaN
D         4      12      16  NaN     NaN     NaN