In [1]:
import pandas as pd
technologies = {
    'Courses':["Spark","PySpark","Hadoop","Python","PySpark","Spark"],
    'Fee' :[20000,25000,26000,22000,24000,35000],
    'Duration':['30day','40days','35days','40days','60days','60days'],
    'Discount':[1000,2300,1200,2500,2000,2000]
              }
df = pd.DataFrame(technologies)
print("Crear DataFrame:\n", df)

Crear DataFrame:
    Courses    Fee Duration  Discount
0    Spark  20000    30day      1000
1  PySpark  25000   40days      2300
2   Hadoop  26000   35days      1200
3   Python  22000   40days      2500
4  PySpark  24000   60days      2000
5    Spark  35000   60days      2000

In [2]:
# Using Aggregate Function on DataFrame
result = df[['Fee','Discount']].agg('sum')
print(f"La suma de las columnas 'Fee' y 'Discount' es:\n{result}")

La suma de las columnas 'Fee' y 'Discount' es:
Fee         152000
Discount     11000
dtype: int64

Aplicando múltiples funciones de agregación

In [3]:
summary_stats = df['Fee'].agg(['sum', 'mean', 'max'])
print(f"Resumen de estadísticas para 'Fee': \n{summary_stats}")

Resumen de estadísticas para 'Fee':
sum     152000.000000
mean     25333.333333
max      35000.000000
Name: Fee, dtype: float64

In [5]:
summary_stats = df['Discount'].agg(['sum', 'mean', 'max'])
print(f"Resumen de estadísticas para 'Discount': \n{summary_stats}")

Resumen de estadísticas para 'Discount':
sum     11000.000000
mean     1833.333333
max      2500.000000
Name: Discount, dtype: float64

Agregación con funciones personalizada

Función para calcular el rango del descuento

In [7]:
def calculate_range(x):
    return x.max() - x.min()

range_quantity = df['Discount'].agg(calculate_range)
print(f"El rango de la columna 'Discount' es : \n{range_quantity}")

El rango de la columna 'Discount' es :
1500

Agregación con múltiples columnas

In [8]:
agg_results = df.agg({'Fee':'sum', 'Discount': 'mean'})
print(f"Resultados de la agregación: \n{agg_results}")

Resultados de la agregación:
Fee         152000.000000
Discount      1833.333333
dtype: float64

Usando funciones de Agregación por grupos

In [9]:
print("DataFrame:\n", df)

DataFrame:
    Courses    Fee Duration  Discount
0    Spark  20000    30day      1000
1  PySpark  25000   40days      2300
2   Hadoop  26000   35days      1200
3   Python  22000   40days      2500
4  PySpark  24000   60days      2000
5    Spark  35000   60days      2000

In [10]:
# Using groupby() and aggreaget()
result = df.groupby(['Courses']).sum()
print(f"Resultado de groupby y sum(): \n {result}")

Resultado de groupby y sum():
            Fee      Duration  Discount
Courses
Hadoop   26000        35days      1200
PySpark  49000  40days60days      4300
Python   22000        40days      2500
Spark    55000   30day60days      3000

In [11]:
# Using groupby() and aggreaget()
result = df.groupby(['Courses'])[['Fee', 'Discount']].agg('sum')
print(f"Resultado de groupby y sum(): \n {result}")

Resultado de groupby y sum():
            Fee  Discount
Courses
Hadoop   26000      1200
PySpark  49000      4300
Python   22000      2500
Spark    55000      3000

In [13]:
# Using groupby() and aggreaget()
result = df.groupby(['Courses'])['Fee'].agg(['min', 'max'])
print(f"Resultado de groupby y múltiples agregaciones(): \n {result}")

Resultado de groupby y múltiples agregaciones():
            min    max
Courses
Hadoop   26000  26000
PySpark  24000  25000
Python   22000  22000
Spark    20000  35000

In [ ]:
# Using groupby() and aggreaget()
result = df.groupby(['Courses'])[['Fee', 'Discount']].agg(['min', 'max'])
print(f"Resultado de groupby con múltiples columnas y múltiples agregaciones(): \n {result}")

Resultado de groupby yconmúltiples columnas y múltiples agregaciones():
            Fee        Discount
           min    max      min   max
Courses
Hadoop   26000  26000     1200  1200
PySpark  24000  25000     2000  2300
Python   22000  22000     2500  2500
Spark    20000  35000     1000  2000

In [15]:
# Using groupby() and aggreaget()
result = df.groupby(['Courses']).agg({'Duration': 'count', 'Fee':['min', 'max']})
print(f"Resultado de groupby con múltiples columnas y múltiples agregaciones(): \n {result}")

Resultado de groupby con múltiples columnas y múltiples agregaciones():
         Duration    Fee
           count    min    max
Courses
Hadoop         1  26000  26000
PySpark        2  24000  25000
Python         1  22000  22000
Spark          2  20000  35000